:root {
    --back-color: #ffffff;
    --border-size: 0.0625rem;
    --border-color: #000000;
    --btnBackColor: #0fd3e9;
    --btnBorderColor: #1BC4D9;
    --btnShadowColor: #AAAAAA;
    --checkboxColor: #AAAAAA;
    
    --required-symbol: '*';
    --input-font-size: 1.2rem;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    color: var(--border-color);
    background-color: var(--back-color);
}

input {
    font-family: 'Courier New', Courier, monospace;
}

.required-text::before {
    content: var(--required-symbol);
}

.company-logo-name {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 25rem;
}

.company-logo-name img {
    width: 4rem;
    height: auto;
    margin-right: 1.5rem;
}

.company-logo-name p {
    width: 40%;
}

.job-app-form h1 {
    font-size: 2rem;
    text-transform: uppercase;
    width: 55%;
    text-align: center;
    margin-bottom: 1rem;
}

.job-app-form h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

.form-btns {
    position: absolute;
    right: 2rem;
    top: 0.25rem;   
}

.form-btns button {
    padding: 0rem 1rem;
}

.form-btns a {
    text-decoration: none;
    color: var(--border-color);
    padding: 0rem 2rem;
}

.form-btns a, .form-btns button {
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--btnBackColor);
    border: outset 0.25rem var(--btnBorderColor);
    border-top: outset 0.25rem var(--back-color);
    border-left: outset 0.25rem var(--back-color);
    box-shadow:  0 0 0 4px var(--btnShadowColor);
    margin-left: 0.5rem;
    cursor: pointer;
    
}

.form-btns a:active, .form-btns button:active {
    background-color: var(--btnBackColor);
    border: inset 0.25rem var(--back-color);
    border-top: inset 0.25rem var(--btnBorderColor);
    border-left: inset 0.25rem var(--btnBorderColor);
}

.job-app-form {
    margin-top: 5rem;
}

.eight-column-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(2rem, auto);
}

.privacy-act-statement {
    word-spacing: -1px;
    position: absolute;
    right: 2rem;
    top: 2.3rem;
    width: 30rem;
}

.privacy-act-statement h1 {
    font-size: 0.7rem;
}

.privacy-act-statement p {
    font-size: 0.55rem;
}

.job-app-form h2 {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.in-table-title {
    padding: 0.625rem;
    border: solid 1px var(--border-color);
}

.instructions {
    text-align: center;
    border: solid var(--border-size) var(--border-color);
}

input[type="text"], input[type="email"] {
    width: 100%;
    height: calc(100% - var(--input-font-size));
    font-size: var(--input-font-size);
    border: none;
    background-color: #d2d4ff4b;
}

.input-div {
    padding: 0px 5px;
    border: solid var(--border-size) var(--border-color);
}

input[type="text"]:focus {
    background-color: var(--back-color);
    border: none;
    outline: none;
}

input[type="checkbox"] {
    color: var(--checkboxColor);
    border: solid var(--border-size) var(--checkboxColor);

}

.short-input label {
    width: 70%;
}

.short-input input {
    float: right;
    width: 50%;
}

.job-app-form label {
    font-size: 0.8rem;
}

.in-table-title p {
    font-size: 0.8rem;
}

.centre-text {
    text-align: center;
}

.nine-column-section {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(2rem, auto);
}

.one-col {
    grid-column: span 1;
}

.two-col {
    grid-column: span 2;
}

.three-col {
    grid-column: span 3;
}

.four-col {
    grid-column: span 4;
}

.five-col {
    grid-column: span 5;
}

.six-col {
    grid-column: span 6;
}

.seven-col {
    grid-column: span 7;
}

.eight-col {
    grid-column: span 8;
}

.nine-col {
    grid-column: span 9;
}

.one-row {
    grid-row: span 1;
}

.two-row {
    grid-row: span 2;
}

.three-row {
    grid-row: span 3;
}

.four-row {
    grid-row: span 4;
}

.five-row {
    grid-row: span 5;
}

.six-row {
    grid-row: span 6;
}

#date-input-div {
    display: flex;
    flex-direction: row;
}

#date-input-div div {
    display: flex;
    flex-direction: column;
}